#playerbox {
	height: 320px;
	position: absolute;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%)
}
#playimage {
	/*margin-left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%);*/
	position: relative;
	top: 310px;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, 0%)
}
